{% extends 'base.html.twig' %}

{% block title %}
    {% if user %}
        Edit {{ user.username }}
    {% else %}
        Add a new User
    {% endif %}
{% endblock %}
{% block body %}
    <div class="container">
        {{ form_start(form) }}

            {{ form_label(form.username) }}
            {{ form_errors(form.username) }}
            {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(form.password.first) }}
        {{ form_errors(form.password.first) }}
            {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(form.password.second) }}
        {{ form_errors(form.password.second) }}
            {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}

            {{ form_label(form.roles) }}
            {{ form_errors(form.roles) }}

            {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}


        <span>
            {{ form_label(form.save) }}
            {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
        {{ form_end(form) }}
                <a href="{{ app.request.headers.get('referer') }}" class="btn btn-light">Back</a>
        </span>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
