<% include ../partials/navbaruser %>
<div class="container">
<h1> <%= project.name %></h1>
    <div class="card">
        <div class="card-body">
    <h2>Project Leader:</h2>
    <h3><%= project.leader.name %></h3>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
    <h4>Description:</h4>
    <p> <%= project.description %></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
    <h4>Project's price: </h4>
    <p> <%= project.price %>€</p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
    <h4>Done jobs:</h4>
    <p> <%= project.done_jobs %></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
    <h4>Start date:</h4>
    <p> <%= project.start_date %></p>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
    <h4>End date:</h4>
    <p> <%= project.end_date %></p>
        </div>
    </div>
    <div class="row" style="margin-left: 0px">
    <a href="/project/<%= project.id %>/edit" class="btn btn-primary">Edit Project</a>
</div>
<div class="col-md-6 m-auto">
    <form action="/project/<%= project._id%>/delete" method="POST">
    <button type="submit" class="btn btn-primary btn-block">
            Delete
          </button>
        </form>
    <form action="/project/<%= project._id%>/archive" method="POST">
    <button type="submit" class="btn btn-primary btn-block">
            Archive Project
          </button>
        </form>
    </div>
</div>